body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    vertical-align: bottom;
}

html {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
}

button {
    font-family: 'Invasion2000';
    font-size: 16px;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1em;
}

p,
ul,
ol {
    font-size: 1em;
}

ul {
    margin: 0 0 1em 25px;
    list-style: none;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

fieldset {
    border: none;
}

form :focus {
    outline: 0;
}

input,
select,
textarea {
    font-size: 1em;
}

label {
    cursor: pointer;
    vertical-align: middle;
}

input {
    vertical-align: middle;
}

textarea {
    overflow: auto;
}


#wrap {
    margin: 0 auto;
    min-height: 100%;
}

#head {}

#nav {}

#content {}

#left {
    float: left;
}

#foot {
    clear: both;
}

a {
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

#nav {}

#nav li {}

#nav a {
    text-decoration: none;
}

#nav a:hover,
#nav a:focus,
#nav a:active {}

#foot ul {}

#foot li {}

#foot a {
    text-decoration: none;
}

#foot a:hover,
#foot a:focus,
#foot a:active {}

@font-face {
    font-family: 'INVASION2000';
    font-style: normal;
    font-weight: 700;
    src: local('?'),
        url('../arcade/app/styles/INVASION2000.TTF') format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'INVASION2000';
    background:
        linear-gradient(180deg, rgba(250, 22, 255, 0.45), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url(bg-images/urban-city.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #27CBFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px #00DDF7;
}

.navbar__logo-highlight {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FA16FF;
    text-shadow: 0px 3.13253px 12.5301px #FA00FF, 0px 4.6988px 0px #720D83;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: auto;
    padding: 5%;
}

.game-container__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-container__card img {
    display: block;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.game-container__card:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}