@font-face {
    font-family: 'INVASION2000';
    font-style: normal;
    font-weight: 700;
    src: local('?'), 
    url('../arcade/app/styles/INVASION2000.TTF') format('truetype');
}
  
body {
    font-family: 'INVASION2000';
    background: url(../arcade/app/styles/bg-images/urban-city.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}